.footer {
  border-top: 1px solid #ffffff44;
  padding: 20px;
  width: 80%;
  margin: 40px auto 0;
  text-align: center;

  h4 {
    color: #fff;

    span {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
