.footer {
  padding: 20px;
  width: 80%;
  margin: 40px auto 0;
  text-align: center;

  .app & {
    border-top: 1px solid rgba(30, 28, 28, 0.267);
  }

  .dark & {
    border-top: 1px solid #ffffff44;
  }

  h4 {
    .app & {
      color: #000000de;
    }

    .dark & {
      color: #fff;
    }

    span {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
