.about__page {
  .about__title {
    font-size: 42px;
    width: fit-content;
    margin: 30px auto;
    padding: 0 10px;
    text-transform: uppercase;

    position: relative;

    .app & {
      color: #5a69fa;
    }

    .dark & {
      color: #9bbdff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;

      transition: all 1s;
    }

    &.active__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;

      .app & {
        background-color: #5a69fa;
      }

      .dark & {
        background-color: #9bbdff;
      }
    }
  }

  .brief {
    text-align: center;
    font-size: 20px;
    width: fit-content;
    margin: 30px auto;
    line-height: 1.7;

    .app & {
      color: #000000de;
    }

    .dark & {
      color: #fff;
    }

    @media (max-width: 768px) {
      padding: 0 24px;
    }
  }

  .about__box {
    width: 60%;
    margin: 46px auto;
    color: #fff;

    opacity: 0;

    @media (max-width: 551px) {
      width: 70%;
    }

    &.web {
      animation: fadeInLeft 1s 0.5s forwards;
    }
    &.data {
      animation: fadeInLeft 1s 1s forwards;
    }
    &.enter {
      animation: fadeInLeft 1s 1.5s forwards;
    }

    h2 {
      position: relative;
      font-size: 34px;
      color: #7990ff;
      opacity: 0;

      animation: fadeIn 1s forwards;

      @media (max-width: 551px) {
        font-size: 28px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
        width: 20px;
        height: 20px;

        border: 2px solid #7990ff;
        border-radius: 50%;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -35px;
        width: 14px;
        height: 14px;

        background-color: #7990ff;
        border-radius: 50%;
      }
    }

    p {
      font-size: 18px;
      margin-top: 15px;
      line-height: 1.7;

      .app & {
        color: #000000de;
      }

      .dark & {
        color: #fff;
      }
    }
  }
}

.box {
  margin: 100px auto;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  background-color: red;
}

.layout {
  margin: 100px auto;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  background-color: red !important;
}
