.contact__page {
  .contact__title {
    font-size: 42px;
    color: #9bbdff;
    // border-bottom: 3px solid #9bbdff;
    width: fit-content;
    margin: 30px auto;
    padding: 0 10px;
    text-transform: uppercase;

    position: relative;

    .app & {
      color: #5a69fa;
    }

    .dark & {
      color: #9bbdff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;

      transition: all 1s;
    }

    &.active__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;

      .app & {
        background-color: #5a69fa;
      }

      .dark & {
        background-color: #9bbdff;
      }
    }
  }

  .social {
    width: 450px;
    margin: 60px auto;

    @media (max-width: 480px) {
      width: 400px;
    }

    .social__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      margin-bottom: 24px;

      .flex__col {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
      }

      &.email__col {
        flex-direction: column;
        align-items: stretch;

        .flex__col {
          justify-content: space-between;
        }
      }

      @media (max-width: 480px) {
        width: 300px;
        margin: 24px auto;

        .flex__col {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &.flex {
          margin-top: 40px;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          svg {
            font-size: 32px;
          }
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 15px;

        .app & {
          color: #4a59dc;
        }

        .dark & {
          color: #7990ff;
        }

        font-size: 24px;

        @media (max-width: 480px) {
          p {
            display: none;
          }

          svg {
            font-size: 36px;
          }
        }
      }

      a {
        font-size: 18px;
        text-decoration: none;
        // margin-top: 10px;
        transition: all 0.3s;

        display: flex;
        align-items: center;

        gap: 15px;

        @media (max-width: 480px) {
          flex-direction: column;
          align-items: flex-start !important;
        }

        p {
          font-size: 24px;
        }
        .app & {
          color: #4a59dc;
        }

        .dark & {
          color: #7990ff;
        }

        svg {
          font-size: 28px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
