.contact__page {
  .contact__title {
    font-size: 42px;
    color: #9bbdff;
    // border-bottom: 3px solid #9bbdff;
    width: fit-content;
    margin: 30px auto;
    padding: 0 10px;
    text-transform: uppercase;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;

      transition: all 1s;
    }

    &.active__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #9bbdff;
    }
  }

  .social {
    width: 450px;
    margin: 60px auto;

    @media (max-width: 480px) {
      width: 400px;
    }

    .social__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      margin-bottom: 24px;

      @media (max-width: 480px) {
        width: 300px;
        margin: 24px auto;
      }

      div {
        display: flex;
        align-items: center;
        gap: 15px;

        color: #7990ff;

        font-size: 24px;

        @media (max-width: 480px) {
          p {
            display: none;
          }

          svg {
            font-size: 36px;
          }
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        margin-top: 10px;

        &:hover {
          color: #ffffffc9;
        }
      }
    }
  }
}
