.home__page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 96px;

  padding-bottom: 20px;
  min-height: 90vh;

  @media (max-width: 1111px) {
    gap: 64px;
  }

  @media (max-width: 991px) {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 32px;
  }

  @media (max-width: 664px) {
    gap: 12px;
  }

  .info {
    @media (max-width: 991px) {
      text-align: center;
    }

    .name {
      font-size: 32px;
      letter-spacing: 1.25px;

      .app & {
        color: #000000c7;
      }

      .dark & {
        color: #fff;
      }

      @media (max-width: 664px) {
        font-size: 28px;
      }
    }

    .job__title {
      font-size: 46px;
      color: #5a69fa;

      display: inline-block;

      @media (max-width: 664px) {
        font-size: 32px;
      }
    }

    .second__title {
      font-size: 24px;
      font-weight: 600;
      margin-top: 10px;
      display: inline-block;

      .app & {
        color: #000000c7;
      }

      .dark & {
        color: #fff;
      }

      @media (max-width: 664px) {
        font-size: 22px;
      }

      span {
        color: #5a69fa;
        font-size: 32px;
        font-weight: 800;
      }
    }

    .btns__box {
      display: flex;
      // align-items: center;
      gap: 24px;

      @media (max-width: 991px) {
        justify-content: center;
      }

      margin-top: 42px;

      .btn {
        display: block;
        background: none;
        outline: none;
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: 600;
        opacity: 0;

        a {
          text-decoration: none;
        }

        cursor: pointer;

        animation: fadeInUp 1s 5.2s linear forwards;

        &.btn__contact {
          border-radius: 8px;
          background-color: #5a69fa;

          transition: all 0.3s;

          a {
            color: #fff;
          }

          &:hover {
            background-color: #3041e1;
          }
        }

        &.btn__cv {
          border-radius: 8px;
          text-decoration: none;

          transition: all 0.3s;

          .app & {
            border: 2px solid #cddc39;

            color: #000000da;

            &:hover {
              background-color: #cddc39;
            }
          }

          .dark & {
            border: 2px solid #ffeb3b;
            color: #fff;

            &:hover {
              background-color: #ffeb3b;

              color: #000;
            }
          }
        }
      }
    }
  }

  .img__container {
    position: relative;
    width: 350px;
    height: 350px;
    opacity: 0;

    animation: fadeIn 1s 5s forwards;

    transition: all 0.3s;

    @media (max-width: 664px) {
      width: 300px;
      height: 280px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -80px;
      left: -50px;
      width: 200px;
      height: 200px;
      border-color: #3f3fd7 transparent transparent #3f3fd7;
      border-width: 10px;
      border-style: solid;

      transition: all 0.3s;
      z-index: -1;

      @media (max-width: 991px) {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -80px;
      right: -40px;
      width: 200px;
      height: 200px;
      border-color: transparent #3f3fd7 #3f3fd7 transparent;
      border-width: 10px;
      border-style: solid;

      transition: all 0.3s;

      @media (max-width: 991px) {
        display: none;
      }
    }

    &:hover::after {
      top: -10px;
      left: -10px;
    }

    &:hover::before {
      bottom: -10px;
      right: -10px;
    }

    &:hover .img__box {
      box-shadow: 0 0 1px 10px #3f3fd7 !important;
    }

    .img__box {
      overflow: hidden;
      width: 350px;
      height: 350px;

      transition: all 0.3s;
      position: relative;
      z-index: 1;

      &:hover .img {
        filter: grayscale(0);
      }

      .app & {
        box-shadow: -32px 30px 2px 0px rgba(25, 24, 24, 0.06);
        background-color: #c4b7b73d;
      }

      .dark & {
        box-shadow: -32px 30px 2px 0px rgba(56, 54, 54, 0.2);
        background-color: #ffffff;
      }

      @media (max-width: 991px) {
        border: 8px solid #5a69fa;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 30px auto 0;

        .app & {
          box-shadow: 0px 0px 20px rgba(25, 24, 24, 0.3);
        }

        .dark & {
          box-shadow: 0px 0px 17px rgba(25, 24, 24, 0.845);
        }
      }

      @media (max-width: 664px) {
        margin: 30px auto 0;
        width: 220px;
        height: 220px;
      }

      .img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        filter: grayscale(80%);
        transition: all 0.3s;

        width: 100%;
      }
    }
  }
}

.scroll__to__top-btn {
  background-color: #5a69fa;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;

  position: fixed;
  bottom: 20px;
  right: -100%;

  z-index: 10;

  cursor: pointer;

  transition: 0.3s;

  &.show {
    right: 20px;
  }

  &:hover {
    background-color: #6775ed;
  }
}
