.home__page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 96px;

  min-height: 90vh;

  .info {
    .name {
      color: #fff;
      font-size: 32px;
      letter-spacing: 1.25px;
    }

    .job__title {
      font-size: 46px;
      color: #5a69fa;

      display: inline-block;
    }

    .second__title {
      font-size: 24px;
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      display: inline-block;

      span {
        color: #5a69fa;
        font-size: 32px;
        font-weight: 800;
      }
    }

    .btns__box {
      display: flex;
      align-items: center;
      // justify-content: center;
      gap: 24px;

      margin-top: 42px;

      .btn {
        display: block;
        background: none;
        outline: none;
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        opacity: 0;

        cursor: pointer;

        animation: fadeInUp 0.4s 5.2s linear forwards;

        &.btn__contact {
          color: #fff;
          border-radius: 8px;
          border: 2px solid #5a69fa;

          transition: all 0.3s;

          &:hover {
            background-color: #5a69fa;
          }
        }

        &.btn__cv {
          color: #000;
          border-radius: 8px;
          background-color: #0fd875;

          transition: all 0.3s;

          &:hover {
            background-color: #086a39;
            color: #fff;
          }
        }
      }
    }
  }

  .img__container {
    position: relative;
    width: 350px;
    height: 350px;

    transition: all 0.3s;
    &:hover::after {
      top: 0 !important;
      left: 0;
      width: 380px;
      height: 380px;
      z-index: 1;
    }
    &:hover::before {
      bottom: 0 !important;
      right: 0;
      width: 380px;
      height: 380px;

      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -80px;
      left: -50px;
      width: 200px;
      height: 200px;
      border-color: #3f3fd7 transparent transparent #3f3fd7;
      border-width: 4px;
      border-style: solid;

      transition: all 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -80px;
      right: -40px;
      width: 200px;
      height: 200px;
      border-color: transparent #3f3fd7 #3f3fd7 transparent;
      border-width: 4px;
      border-style: solid;

      transition: all 0.3s;
    }

    .img__box {
      overflow: hidden;
      width: 350px;
      height: 350px;

      background-color: #ffffffa3;
      transition: all 0.3s;
      position: relative;
      // border-radius: 8px;
      // border: 1px solid #3f3fd74d;

      .img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
      }
    }
  }
}
