.projects__page {
  .projects__title {
    font-size: 42px;
    color: #9bbdff;
    width: fit-content;
    margin: 30px auto;
    padding: 0 10px;
    text-transform: uppercase;

    position: relative;

    .app & {
      color: #5a69fa;
    }

    .dark & {
      color: #9bbdff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;

      transition: all 1s;
    }

    &.active__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;

      .app & {
        background-color: #5a69fa;
      }

      .dark & {
        background-color: #9bbdff;
      }
    }
  }

  .projects__boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 46px;
    padding: 0 0 30px 0;
    margin-top: 68px;

    .project__box {
      width: 280px;

      .app & {
        // background-color: rgba(248, 248, 248, 0.4);
        background-color: #5355d3;
        // box-shadow: 0 5px 17px rgb(90 90 90 / 15%);
        box-shadow: 0 0px 17px #5355d334;
        // border: 2px solid #a2a2a263;
        border: 2px solid #5355d3;
      }

      .dark & {
        background-color: rgba(127, 127, 151, 0.1);
        box-shadow: 0 0 17px #5355d346;
        border: 2px solid #5355d3;
      }

      padding: 10px;
      border-radius: 8px;
      opacity: 0;
      transform: translateY(50%);

      &.egfwd {
        animation: fadeUP 1s 0.5s forwards;
      }

      &.wagba {
        animation: fadeUP 1s 1s forwards;
      }

      &.doc {
        animation: fadeUP 1s 1.5s forwards;
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 8px;
      }

      h4 {
        font-size: 20px;
        margin: 12px 0;

        // .app & {
        //   color: #000000de;
        // }

        // .dark & {
        // }
        color: #fff;
      }

      p {
        // .app & {
        //   color: #000000de;
        // }

        // .dark & {
        // }
        color: #ffffffd7;
      }

      a {
        text-decoration: none;

        color: #000;
        padding: 8px 16px;
        border-radius: 8px;
        display: block;
        width: fit-content;
        margin: 25px auto 10px;
        font-weight: 600;

        transition: all 0.3s;

        .app & {
          color: #000000de;
          background-color: #ffeb3b;

          &:hover {
            color: #000;
            background-color: #ffeb3bc7;
          }
        }

        .dark & {
          background-color: #9bbdff;
          &:hover {
            color: #fff;
            background-color: #3f72d8;
          }
        }
      }
    }
  }
}

// Animation

@keyframes fadeUP {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
