.projects__page {
  .projects__title {
    font-size: 42px;
    color: #9bbdff;
    border-bottom: 3px solid #9bbdff;
    width: fit-content;
    margin: 30px auto;
    padding: 0 10px;
    text-transform: uppercase;
  }
}
