.projects__page {
  .projects__title {
    font-size: 42px;
    color: #9bbdff;
    border-bottom: 3px solid #9bbdff;
    width: fit-content;
    margin: 30px auto;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .projects__boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0 0 30px 0;
    margin-top: 68px;

    .project__box {
      width: 280px;

      background-color: #5355d3;
      padding: 10px;
      border-radius: 8px;
      opacity: 0;

      &.egfwd {
        animation: fadeInUp 1s 0.5s forwards;
      }

      &.wagba {
        animation: fadeInUp 1s 1s forwards;
      }

      &.doc {
        animation: fadeInUp 1s 1.5s forwards;
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 8px;
      }

      h4 {
        font-size: 20px;
        color: #fff;
        margin: 12px 0;
      }

      p {
        color: #ffffffc2;
      }

      a {
        text-decoration: none;
        background-color: #9bbdff;
        color: #000;
        padding: 8px 16px;
        border-radius: 8px;
        display: block;
        width: fit-content;
        margin: 20px auto 0;
        font-weight: 600;

        transition: all 0.3s;

        &:hover {
          color: #fff;
          background-color: #3f72d8;
        }
      }
    }
  }
}
