.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;

  .logo {
    a {
      background: -webkit-linear-gradient(30deg, #646fcb, #898fc9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004c;
    backdrop-filter: blur(5px);

    z-index: 1;
  }

  .nav {
    .btn__menu-open {
      font-size: 28px;
      color: #7397ff;
      cursor: pointer;

      transition: all 0.3s;

      &:hover {
        transform: rotate(-90deg);
      }
    }

    .nav__lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      background-color: #2e2c2cdc;
      backdrop-filter: blur(10px);

      width: 50%;
      height: 50vh;
      border-radius: 8px;

      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);

      list-style: none;

      padding: 20px;

      z-index: 1;

      opacity: 0;
      visibility: hidden;

      transition: all 0.8s;

      @media (max-width: 768px) {
        width: 80%;
      }

      &.open {
        visibility: visible;

        opacity: 1;
        left: 50%;
      }

      .btn__menu-close {
        position: absolute;
        top: 30px;
        right: 30px;

        color: #fff;

        font-size: 24px;

        cursor: pointer;
      }

      li {
        a {
          font-size: 32px;
          text-decoration: none;
          color: #7397ff;

          transition: all 0.3s;
          &:hover {
            color: #fff;
          }

          &.active {
            color: #fff;
          }
        }
      }
    }
  }
}
